/data/
/dataVD2/
/.vscode/
cheat_sheet.txt
cheat_sheet.sh
test-data/*
test-data/barcode01/*
!test-data/barcode01
!test-data/barcode01/barcode01_raw.fastq
!test-data/genome.fasta
!test-data/plasmid.fasta
!test-data/IS_curated.fasta